@import "../../styles/commons.scss";

.task-list {
  margin: 1em 0;
  overflow: auto;
  height: 100%;
  padding: 0 1em;
}


.task-card {
  padding: 1em;
  position: relative;
  border: 1px solid $grey-10;
  border-radius: 4px;
  background: $white;
  margin: 1em 0;

  .task-head
  {
    display: flex;
    justify-content: space-between;
  }
  .task-title {
    font-size: 1.5em;
    font-weight: 700;
  }

  .task-time {
    font-size: 1.5em;
    font-weight: 300;
  }

  .task-remarks
  {
    margin: .5em 0;
  }
  .cross-btn
  {
    border: none;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    position: absolute;
    right: -4%;
    top: -10%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #e1e1e1;
  }
}
